<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932825360848-9tj5rd13unfs6mtnfadd5g4893u6lorp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932825360848-9tj5rd13unfs6mtnfadd5g4893u6lorp</string>
	<key>API_KEY</key>
	<string>AIzaSyCoV8Ly-v7mKbZ2mISVjbrnVG2RdHWCrI4</string>
	<key>GCM_SENDER_ID</key>
	<string>932825360848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-hti-9fdd2</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-hti-9fdd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932825360848:ios:3963abc1bd172f6e7831d5</string>
</dict>
</plist>